*{
    padding: 0;
    margin: 0;
    border: none;
    list-style-type: none;
}

.container{
    width: 50em;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: olivedrab;
}

.master{
    background-color: lightgrey;

p{
    color: black;

}